################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArtiModel/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ArtiModel/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ArtiModel/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ArtiModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ArtiModel/obj/Debug/ArtiModel.pdb
/ArtiModel/obj/Debug/ArtiModel.dll
/ArtiModel/obj/Debug/ArtiModel.csprojResolveAssemblyReference.cache
/ArtiModel/obj/Debug/ArtiModel.csproj.FileListAbsolute.txt
/ArtiModel/obj/Debug
/ArtiModel/bin/Debug/Newtonsoft.Json.xml
/ArtiModel/bin/Debug/Newtonsoft.Json.dll
/ArtiModel/bin/Debug/ArtiModel.pdb
/ArtiModel/bin/Debug/ArtiModel.dll
/ArtiModel/bin/Debug/$RANDOM_SEED$
/ArtiModelTest/bin/Debug/nunit.framework.xml
/ArtiModelTest/bin/Debug/nunit.framework.dll
/ArtiModelTest/bin/Debug/Newtonsoft.Json.xml
/ArtiModelTest/bin/Debug/Newtonsoft.Json.dll
/ArtiModelTest/bin/Debug/ArtiModelTest.pdb
/ArtiModelTest/bin/Debug/ArtiModelTest.dll
/ArtiModelTest/bin/Debug/ArtiModel.pdb
/ArtiModelTest/bin/Debug/ArtiModel.dll
/ArtiModelTest/bin/Debug/$RANDOM_SEED$
/ArtiModelTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ArtiModelTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ArtiModelTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ArtiModelTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ArtiModelTest/obj/Debug/ArtiModelTest.pdb
/ArtiModelTest/obj/Debug/ArtiModelTest.dll
/ArtiModelTest/obj/Debug/ArtiModelTest.csprojResolveAssemblyReference.cache
/ArtiModelTest/obj/Debug/ArtiModelTest.csproj.FileListAbsolute.txt
/ArtiSelector/bin/Debug/Newtonsoft.Json.xml
/ArtiSelector/bin/Debug/Newtonsoft.Json.dll
/ArtiSelector/bin/Debug/ArtiModel.pdb
/ArtiSelector/bin/Debug/ArtiModel.dll
/ArtiSelector/bin/Debug/ArtiItemSelector.vshost.exe.manifest
/ArtiSelector/bin/Debug/ArtiItemSelector.vshost.exe.config
/ArtiSelector/bin/Debug/ArtiItemSelector.vshost.exe
/ArtiSelector/bin/Debug/ArtiItemSelector.pdb
/ArtiSelector/bin/Debug/ArtiItemSelector.exe.config
/ArtiSelector/bin/Debug/ArtiItemSelector.exe
/ArtiSelector/bin/Debug/$RANDOM_SEED$
/ArtiSelector/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ArtiSelector/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ArtiSelector/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ArtiSelector/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ArtiSelector/obj/Debug/ArtiSelector.csprojResolveAssemblyReference.cache
/ArtiSelector/obj/Debug/ArtiSelector.csproj.GenerateResource.Cache
/ArtiSelector/obj/Debug/ArtiSelector.csproj.FileListAbsolute.txt
/ArtiSelector/obj/Debug/ArtiItemSelector.TextInput.resources
/ArtiSelector/obj/Debug/ArtiItemSelector.Properties.Resources.resources
/ArtiSelector/obj/Debug/ArtiItemSelector.pdb
/ArtiSelector/obj/Debug/ArtiItemSelector.FMain.resources
/ArtiSelector/obj/Debug/ArtiItemSelector.exe
/packages
